a {
    color: green;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/*
part3 task 1
*/

h3 {
    color: khaki;
}
/*p1 1st task*/

p {
    font-family: Tahoma;
}
p:first-letter {
    font-size: 40px;
    margin-right: 9px;
    line-height: 0.9;
    float: left;
}
/*
p3 task2
*/

ol {
    font-family: Arial;
}
/*p1 2nd task*/

h1 {
    color: cornflowerblue;
}
/*p1 3rd task*/
